extends ../layout/common2.pug

block content

	.row.mt-5.ml-4
		.col-12.col-md-4.bookCoverImg
			img(src=book.cover  alt='bookCover')
		.col-12.col-md-8.bookInfo
			h2.text-primary.display-4=book.title
			h3
				i
					|#{book.author}

			h3
				strong Giá: #{book.price}
			h4.content Nội dung:
			p #{book.desc}
			
			h4.content Review:		 							
			p
				em.text-warning #{book.bReview}
							
					.gr-btn.d-flex.justify-content-end.mr-5
						button.btn.btn-success.mr-3 Mua
						a.btn.btn-primary(href="/books/index") Về trang chủ
							i.fas.fa-arrow-right.ml-2
	
