extends ../layout/common2.pug

block content

	if errors
		each error in errors
			.alert.alert-danger=error
	.row.userPage
		.col-12.col-md-3
			#v-pills-tab.nav.flex-column.nav-pills
				.user-img.d-flex.justify-content-center
					if user.avatar
						a(href='/users/setting')
							img.rounded-circle(src=user.avatar, alt='user')
					else
						a(href='/users/cart')
							img.rounded-circle(src='https://picsum.photos/200/300' alt='user')
				span.text-center
					a(href='/users/setting')=user.userName
						i.fas.fa-pen.ml-2
				.nav-opts
					a.nav-link(href="/users/setting") Cài đặt tài khoản
				.nav-opts
					a.nav-link(href ="/users/cart") Giỏ sách
				.nav-opts
					a.nav-link(href="/books/bookManagement") Sang shop
		.col-12.col-md-9.d-flex
			form.shopForm(action='/users/setting',method="POST" enctype='multipart/form-data')
				h3 Thông tin tài khoản
				.form-row
					.form-group.flex-column.justify-content-around
						label(for='userName') Tên người dùng
						input#userNameInput.form-control(type='text', name='userName',placeholder=user.userName)
						label(for='userEmail') Email
						input#userNameInput.form-control(type='text', name='userEmail', placeholder=user.userEmail)
						label(for='userAddress') Address
						input#userAddressInput.form-control(type='text', name='userAddress', placeholder=user.userAddress)
						label(for='inputPassword4') Mật khẩu cũ
						input#inputOldPassword.form-control(type='password', name='oldPassword')
						label(for='inputPassword4') Mật khẩu mới
						input#inputNewPassword4.form-control(type='password', name='newPassword')
						label(for='avatar') Avatar
						br
						input#avatarURL(type='file', name='avatar')
						br
						button.btn.btn-primary.mt-2 Cập nhật
			.btnShop
				.shopOpen.mr-auto
					button.btn.btn-success#createShop Mở shop
				form#formShop.shopForm(action='/users/postShop',method="POST")
					.shopCreate.d-flex
					.form-row
						.form-group.flex-column.justify-content-around
							label(for='shopName') Tên shop
							input#shopNameInput.form-control(type='text', name='shopName')
							label(for='shopDesc') Mô tả
							br
							textarea#shopDescript(name='shopDesc', rows='4', cols='50')
							br
							label(for='category') Chọn thể loại:
							select#cate(name='category')
								option(value='truyện ngắn') Truyện ngắn
								option(value='truyện dài') Truyện dài
								option(value='tiểu thuyết') Tiểu thuyết
								option(value='ngôn lù') Ngôn tình
								option(value='PTKN') Phát triển kĩ năng
								option(value='it') IT
								option(value='ngoại ngữ') Ngoại ngữ
							button.btn.btn-primary.m-3#btnShop Tạo shop 
	